{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet"href="{% static 'miss.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<style>
  .footer{
    margin-top:20%;
  }
</style>
<body>
  <!-- Header Start -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 bg-secondary d-none d-lg-block">
            <a href="index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 display-4 text-primary text-uppercase">E-crime</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row bg-white border-bottom d-none d-lg-flex">
                <div class="col-lg-7 text-left">
                    <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                        <i class="fa fa-envelope text-primary mr-2"></i>
                        <small>info@example.com</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                        <i class="fa fa-phone-alt text-primary mr-2"></i>
                        <small>+012 345 6789</small>
                    </div>
                </div>
                <div class="col-lg-5 text-right">
                    <div class="d-inline-flex align-items-center p-2">
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                <a href="index" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary text-uppercase">E-Crime</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="home" class="nav-item nav-link ">Home</a>
                        <!-- <a href="reg" class="nav-item nav-link">Registration</a>
                        <a href="log" class="nav-item nav-link">Login</a> -->
                        <a href="gallery1" class="nav-item nav-link">Gallery</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Reporting</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="crime" class="dropdown-item">Report Complaint</a>
                                <a href="missing" class="dropdown-item">Report missing</a>
                                <a href="report" class="dropdown-item">Report Crime</a>
                            </div>
                        </div>
                        <a href="user_card" class="nav-item nav-link">My Complaints</a>
                    </div>
                    <a href="case" class="btn btn-primary mr-3 d-none d-lg-block">Cases</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Header End -->
<section class="h-100 h-custom gradient-custom-2">
    <form action="missing"method="post" enctype="multipart/form-data" onsubmit="return miss()">
    {% csrf_token %}
    <div class="card">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: blue;">Reporter Details</h3>
  
                    
  
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline " style="color: black;">
                          <input type="text" id="a1" class="form-control form-control-lg" name="rn" required/>
                          <label class="form-label" for="form3Examplev2">Relative Name</label>
                        </div>
  
                      </div>
                      <div class="mb-4 pb-2" style="color: black;">
                        <span class="details">Relation Type</span>
                            <select name="rlty" id="rltn" class="select">
                                <option value="SELECT">SELECT</option>
                                <option value="FATHER">FATHER</option>
                                <option value="MOTHER">MOTHER</option>
                                <option value="GRAND FATHER">GRAND FATHER</option>
                                <option value="GRAND MOTHER">GRAND MOTHER</option>
                                <option value="SISTER">SISTER</option>
                                <option value="BROTHER">BROTHER</option>
                                <option value="AUNT">AUNT</option>
                                <option value="UNCLE">UNCLE</option>
                                <option value="BROTHER IN LAW">BROTHER IN LAW</option>
                                <option value="SISTER IN LAW">SISTER IN LAW</option>
                                <option value="DAUGHTER IN LAW">DAUGHTER IN LAW</option>
                                <option value="SON IN LAW">SON IN LAW</option>
                                <option value="MOTHER IN LAW">MOTHER IN LAW</option>
                                <option value="FATHER IN LAW">FATHER IN LAW</option>
                                <option value="CO BROTHER">CO BROTHER</option>
                                <option value="COUSIN">COUSIN</option>
                                <option value="DAUGHTER">DAUGHTER</option>
                                <option value="DOCTOR">DOCTOR</option>
                                <option value="FRIEND">FRIEND</option>
                                <option value="GRAND DAUGHTER">GRAND DAUGHTER</option>
                                <option value="GRAND SON">GRAND SON</option>
                                <option value="HUSBAND">HUSBAND</option>
                                <option value="WIFE">WIFE</option>
                                <option value="JUDGE">JUDGE</option>
                                <option value="LAWYER">LAWYER</option>
                                <option value="MINISTER">MINISTER</option>
                                <option value="NEIGHBOUR">NEIGHBOUR</option>
                                <option value="POLICE">POLICE</option>
                                <option value="NEPHEW">NEPHEW</option>
                                <option value="NGO">NGO</option>
                                <option value="NIECE">NIECE</option>
                            </select>
                        </div>
                      <div class="col-md-6 mb-4 pb-2" style="color: black;">
  
                        <div class="form-outline" style="color: black;">
                          <input type="text" id="a2" class="form-control form-control-lg" name="nmb"required />
                          <label class="form-label" for="form3Examplev3">Phone Number</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2" style="color: black;">
                      <div class="form-outline">
                        <input type="text" id="a3" class="form-control form-control-lg" name="em" required/>
                        <label class="form-label" for="form3Examplev4">Email Id</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2" style="color: black;">
  
                        <!-- <div class="form-outline form-white">
                          <textarea id="a6" class="form-control form-control-lg" rows="4" cols="150" name="add" required> </textarea>
                          <label class="form-label" for="form3Examplea4">Address</label>
                        </div> -->
  
                      </div>
                    </div>
            
  
                  </div>
                </div>
                <div class="col-lg-6 " style="background-image: url({% static 'download.jfif' %}); background-repeat:no-repeat; background-size:cover; color:black">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color:rebeccapurple;">Missing Person Details</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="a4" class="form-control form-control-lg" name="fn" required />
                        <label class="form-label" for="form3Examplea2">Full name</label>
                      </div>
                    </div>
  
                    <!-- <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="a5" class="form-control form-control-lg" name="al" required />
                        <label class="form-label" for="form3Examplea3">Alias</label>
                      </div>
                    </div> -->

                    <div class="mb-4 pb-2">
                        <span class="details">Gender</span>
                        <select name="gd" id="gender">
                          <option value="SELECT">SELECT</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>

                      <div class="row">
                        <div class="mb-4 pb-2">
                          <div class="form-outline form-white">
                            <input type="text" id="a7" class="form-control form-control-lg"name="age"  required/>
                            <label class="form-label" for="form3Examplea6">Age </label>
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="date" id="a8" class="form-control form-control-lg" name="yb" required/>
                          <label class="form-label" for="form3Examplea7">Date of birth</label>
                        </div>
  
                      </div>
                    <div class="row"> 
                        <div class="mb-4 pb-2">
                            <span class="details">Body build type</span>
                                <select name="bb" id="bbt">
                                    <option value="SELECT">SELECT</option>
                                    <option value="ecto">Ectomorph</option>
                                    <option value="endo">Endomorph</option>
                                    <option value="meso">Mesomorph</option>
                                </select>
                        </div>
                        <div class="mb-4 pb-2">
                            <span class="details">Body complexion</span>
                                <select name="bc" id="bct">
                                    <option value="SELECT">SELECT</option>
                                    <option value="lt">Light</option>
                                    <option value="fr">Fair</option>
                                    <option value="med">Medium</option>
                                    <option value="dp">Deep</option>
                                </select>
                        </div>        
                    </div>
                    <div class="row"> 
                        <div class="col-md-5 mb-4 pb-2">
  
                            <div class="form-outline form-white">
                              <input type="text" id="a9" class="form-control form-control-lg" name="wt" placeholder="in kg" required/>
                              <label class="form-label" for="form3Examplea7">Weight</label>
                            </div>
      
                          </div>
                          <div class="col-md-5 mb-4 pb-2">
  
                            <div class="form-outline form-white">
                              <input type="text" id="a10" class="form-control form-control-lg" name="ht" placeholder="in cm" required/>
                              <label class="form-label" for="form3Examplea7">Height</label>
                            </div>
      
                          </div>
                    </div>

                    
                    

  
                    <div class="mb-4">
                      <div class="form-outline form-white">
                        <input type="file" id="file" size="30" name="image" required class="form-control form-control-lg" required />
                        <label class="form-label" for="form3Examplea9">Upload missing persons photo</label>
                      </div>
                    </div>
  
                
                      <button class="btn btn-light btn-lg"  id="submit" type="submit">Submit</button>
                      
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </form>
 </section>
 <script>
  function  miss()
{
  var relnm=document.getElementById("a1").value;
  var phn=document.getElementById("a2").value;
  var eml=document.getElementById("a3").value;
  var fnm=document.getElementById("a4").value;
  var alias=document.getElementById("a5").value
  var add=document.getElementById("a6").value;
  var age=document.getElementById("a7").value;
  var dob=document.getElementById("a8").value;
  var wgt=document.getElementById("a9").value;
  var hgt=document.getElementById("a10").value;
  

  const regnme =/^[A-Z a-z ]+$/;
  const regph =/^[0-9]+$/;
  const regad =/^[0-9 A-Z a-z . , ]+$/;
  const regeml=/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
   

  if(!regnme.test(relnm)){
      alert("Only alphabets allowed!..........");
      return false;
  }
  if(!regeml.test(eml)){
      alert("Enter valid Email..........");
      return false;
  }
  if(!regph.test(phn)){
      alert("only numerical values allowed........");
      return false;
  }
  if(!regnme.test(fnm)){
      alert("Only alphabets allowed!..........");
      return false;
  }
  if(!regnme.test(alias)){
      alert("Only alphabets allowed!..........");
      return false;
  }
  if(!regad.test(add)){
      alert("Enter valid data.........");
      return false;
  }
  if(!regph.test(age)){
      alert("Only numericals allowed.........");
      return false;
  }
  if(!regad.test(dob)){
      alert("Enter valid data.........");
      return false;
  }
  if(!regph.test(wgt)){
      alert("Only numericals allowed..........");
      return false;
  }
  if(!regph.test(hgt)){
      alert("Only numericals allowed..........");
      return false;
  }
  
} 
</script>

<!-- Footer Start -->
<div class="footer">
<div class=" footer container-fluid bg-secondary text-white pt-5 px-sm-3 px-md-5" style="margin-top: 100px;">
  <div class="row mt-5">
      <div class="col-lg-4">
          <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
              <i class="fa fa-2x fa-map-marker-alt text-primary"></i>
              <div class="ml-3">
                  <h5 class="text-white">Our Office</h5>
                  <p class="m-0">123 Street, New York, USA</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
              <i class="fa fa-2x fa-envelope-open text-primary"></i>
              <div class="ml-3">
                  <h5 class="text-white">Email Us</h5>
                  <p class="m-0">info@example.com</p>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="d-flex justify-content-lg-center p-4" style="background: rgba(256, 256, 256, .05);">
              <i class="fa fa-2x fa-phone-alt text-primary"></i>
              <div class="ml-3">
                  <h5 class="text-white">Call Us</h5>
                  <p class="m-0">+012 345 6789</p>
              </div>
          </div>
      </div>
  </div>
  <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
          <a href="index.html" class="navbar-brand">
              <h1 class="m-0 mt-n2 display-4 text-primary text-uppercase">E-Crime</h1>
          </a>
          <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
          <div class="d-flex justify-content-start mt-4">
              <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-semi-bold text-primary mb-4">Popular Links</h4>
          <div class="d-flex flex-column justify-content-start">
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Attorney</a>
              <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact</a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-semi-bold text-primary mb-4">Quick Links</h4>
          <div class="d-flex flex-column justify-content-start">
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>FAQs</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Help</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Terms</a>
              <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Privacy</a>
              <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Site Map</a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h4 class="font-weight-semi-bold text-primary mb-4">Newsletter</h4>
          <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum.</p>
          <div class="w-100">
              <div class="input-group">
                  <input type="text" class="form-control border-0" style="padding: 25px;" placeholder="Your Email">
                  <div class="input-group-append">
                      <button class="btn btn-primary px-4">Sign Up</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row p-4 mt-5 mx-0" style="background: rgba(256, 256, 256, .05);">
      <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white">&copy; <a class="font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-right">
          <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a></p>
      </div>
  </div>
</div>
</div>
<!-- Footer End -->
 </body>